<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='style2.css')}}" rel="stylesheet">
    <title>Calças</title>
</head>
<body>

    <input type="checkbox" id="chec">
    <label for="chec">
        <img src="{{url_for('static', filename='./assets/icon/menu.ico')}}"  height="20px" width="20px" alt="menu preto">
    </label>

    <nav>
        <ul>
            <li><a href="/">Voltar</a></li>    
        </ul>
    </nav>

    <center>
        <img src="{{url_for('static', filename='./assets/img/plano de fundo.jpg')}}">
    </center>
    <br>
    <div class="ladoalado">
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca1.png')}}" width="220px" height="300px">
            <h4>calça 1</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca2.png')}}" width="220px" height="300px">
            <h4>calça 2</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca3.png')}}" width="220px" height="300px">
            <h4>calça 3</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca4.png')}}" width="220px" height="300px">
            <h4>calça 4</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca5.png')}}" width="220px" height="300px">
            <h4>calça 5</h4>
        </div>
    </div>
    <div class="ladoalado">
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca6.png')}}" width="220px" height="300px">
            <h4>calça 6</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca7.png')}}" width="220px" height="300px">
            <h4>calça 7</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca8.png')}}" width="220px" height="300px">
            <h4>calça 8</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca9.png')}}" width="220px" height="300px">
            <h4>calça 9</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca10.png')}}" width="220px" height="300px">
            <h4>calça 10</h4>
        </div>
    </div>
    <div class="ladoalado">
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca11.png')}}" width="220px" height="300px">
            <h4>calça 11</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca12.png')}}" width="220px" height="300px">
            <h4>calça 12</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca13.png')}}" width="220px" height="300px">
            <h4>calça 13</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca14.png')}}" width="220px" height="300px">
            <h4>calça 14</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/masCalca15.png')}}" width="220px" height="300px">
            <h4>calça 15</h4>
        </div>
    </div>

</body>
</html>