<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='logo.jpg')}}"/>
    <title>Brechó da Mônica</title>
</head>

<body>

    <input type="checkbox" id="chec">
    <label class="form-label" for="chec">
        <img src="{{url_for('static', filename='./assets/icon/barra-de-menu.ico')}}">
    </label>


    <nav style:"position: absolute;">
        <ul>
            <li><a href="/roupas">Roupas</a></li>
            <li><a href="/calcas">Calças</a></li>
        </ul>
    </nav>

    <center>
        <img src="{{url_for('static', filename='./assets/img/plano de fundo.jpg')}}">
    </center>
    <br>
    <div class="ladoalado">
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/20211208_162019.png')}}" width="300px" height="450px">
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/20211208_162027.png')}}" width="300px" height="450px">
        </div>
    </div>
        <br>
        <center>
            <div class="fale">
                <p>Entre em contato para marcar um dia pra ir no Brechó</p>
            </div>
        </center>
        <footer>
            <br>
            <form action="email" id="form1" method="post">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" placeholder="Insira o e-mail">
                <label for="whatsapp">Whatsapp:</label>
                <input type="text" name="whatsapp" id="whatsapp" placeholder="Whatsapp">
                
                <label for="diasemana">Dia da Semana:</label>
                <select name="diasemana">
                    <option>Qual Dia</option>
                    <option value="segunda-feira">Segunda-feira</option>
                    <option value="terça-feira">Terça-feira</option>
                    <option value="quarta-feira">Quarta-feira</option>
                    <option value="quinta-feira">Quinta-feira</option>
                    <option value="sexta-feira">Sexta-feira</option>
                    <option value="sabádo">Sabádo</option>
                    <option value="domingo">Domingo</option>
                </select>
                
                
                <label for="horarios">Horários:</label>
                <select name="horarios">
                    <option>Qual Horário</option>
                    <option value="11">Entre 11hr e 12hr</option>
                    <option value="12">Entre 12hr e 13hr</option>
                    <option value="14">Entre 13hr e 14hr</option>
                    <option value="14">Entre 14hr e 15hr</option>
                    <option value="15">Entre 15hr e 16hr</option>
                    <option value="16">Entre 16hr e 17hr</option>
                </select>
    
                
               
                <label for="mensagem">Mensagem:</label>
                <textarea name="mensagem" placeholder="O que você gostou? Me conte!"></textarea>
                <button type="submit">Enviar</button>
                
            </form>
            <br>
            <p>Email: brecho_monica@brechomonica.com.br</p>
            <p>Desde 2019!</p>
            <img class="footer-logo" src="{{url_for('static', filename='./assets/img/plano de fundo.jpg')}}"  width="50px" height="25px"  alt="Logo da Empresa">
        </footer>
        <script src="{{url_for('static', filename='./script.js')}}"></script>
</body>

</html>