<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='style2.css')}}" rel="stylesheet">
    <title>Roupas</title>
</head>
<body>

    <input type="checkbox" id="chec">
    <label for="chec">
        <img src="{{url_for('static', filename='./assets/icon/menu.ico')}}"  height="20px" width="20px" alt="menu preto">
    </label>

    <nav>
        <ul>
            <li><a href="/">Voltar</a></li>    
        </ul>
    </nav>

    <center>
        <img src="{{url_for('static', filename='./assets/img/plano de fundo.jpg')}}">
    </center>
<br>
    <div class="ladoalado">
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta1.png')}}" width="220px" height="300px">
            <h4>Roupa 1</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta2.png')}}" width="220px" height="300px">
            <h4>Roupa 2</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta3.png')}}" width="220px" height="300px">
            <h4>Roupa 3</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta4.png')}}" width="220px" height="300px">
            <h4>Roupa 4</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta5.png')}}" width="220px" height="300px">
            <h4>Roupa 5</h4>
        </div>
    </div>
    <div class="ladoalado">
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta6.png')}}" width="220px" height="300px">
            <h4>Roupa 6</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta7.png')}}" width="220px" height="300px">
            <h4>Roupa 7</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta8.png')}}" width="220px" height="300px">
            <h4>Roupa 8</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta9.png')}}" width="220px" height="300px">
            <h4>Roupa 9</h4>
        </div>
        <div class="zoom">
            <img src="{{url_for('static', filename='./assets/img/camiseta10.png')}}" width="220px" height="300px">
            <h4>Roupa 10</h4>
        </div>
    </div>

</body>
</html>